<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thcreate.vegsurveyassistant">

    <application
        android:name=".BasicApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CaodiyangdiActivity"
            android:label="@string/caodi"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.CaobenyangfangActivity"
            android:label="@string/caoben"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.CaobenwuzhongActivity"
            android:label="@string/caoben"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.GuancongyangdiActivity"
            android:label="@string/guancong"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.GuanmuyangfangActivity"
            android:label="@string/guanmu"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.GuanmuwuzhongActivity"
            android:label="@string/guanmu"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.SenlinyangdiActivity"
            android:label="@string/senlin"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.QiaomuyangfangActivity"
            android:label="@string/qiaomu"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.QiaomuwuzhongActivity"
            android:label="@string/qiaomu"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.YangdianActivity"
            android:label="@string/yangdian"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>