<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thcreate.vegsurveyassistant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CaodiyangdiActivity"
            android:label="@string/caodi"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CaobenyangfangActivity"
            android:label="@string/caoben"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CaobenwuzhongActivity"
            android:label="@string/caoben"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".GuancongyangdiActivity"
            android:label="@string/guancong"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".GuanmuyangfangActivity"
            android:label="@string/guanmu"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".GuanmuwuzhongActivity"
            android:label="@string/guanmu"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SenlinyangdiActivity"
            android:label="@string/senlin"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".QiaomuyangfangActivity"
            android:label="@string/qiaomu"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".QiaomuwuzhongActivity"
            android:label="@string/qiaomu"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".YangdianActivity"
            android:label="@string/yangdian"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>